@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/*Version Desktop*/
@media (min-width: 1400px){

    .loader{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: hsla(0,0%,100%,.9);
        animation: loader .01s;
        animation-delay: 1.75s;
        animation-fill-mode: both;
        z-index: 10000;
        }
        @keyframes loader{
            100% {
                opacity: 0;
                z-index: -10;
            }
        }
        .loader__container {
            display: flex;
            width: 200px;
            justify-content: space-between;
        }
        .loader__spinner {
            height: 5px;
            width: 25px;
            border-radius: 25px;
            animation: spin 3s;
            animation-iteration-count: 1;
        }
        .loader__spinner_1 {
            background-color: #9356dc;
        }
        .loader__spinner_2 {
            background-color: #ff79da;
            animation-delay: .25s;
        }
        .loader__spinner_3 {
            background-color: #9356DC;
            animation-delay: .5s;
        }
        @keyframes spin {
            0% {
                transform: translateY(0);
            }
            25% {
                transform: translateY(60.90px);
            }
            75% {
                transform: translateY(-60.90px);
            }
            100% {
                transform: translateY(0);
        }
        }

body, html
{
    font-family: 'Roboto', sans-serif;
    margin: auto;
	max-width: 1400px;
    
}

.header_title
{
 display: flex;
 justify-content: center;
 margin: 0;
 font-family: "Shrikhand", "cursive";
}
.header_title_title
{
 font-weight: 1200;
 font-size: 60px;
 font-style: italic;

}

.localisation
{
 display:flex;
 justify-content: center;
 position: relative;
 background-color: #e5e8e8;
 width: auto;
 padding: 20px 0 20px 0;
 border-top: solid 5px #d6dbdf;
}
.localisation_nav
{
 
 font-size: 20px;
 font-weight: 700;
}
.localisation_icon{

 color: black;
 margin-right: 10px;
}
.information
{
 background-color: #f2f3f4;
 width: auto;
 height: 300px;
 padding-top: 20px;
}
.information_ohmyfood{
    margin: 5px 220px 10px 220px;
	text-align: center;
}
.reservation
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 2px;
    padding: 10px 0 10px 0;
    
}
.reservation_title
{
    font-size: 30px;
    margin: 2px;
    font-family: 'Shrikhand', cursive;
}
.reservation_title_title
{
    font-weight: normal;
    font-size: 20px;
    padding: 5px;
}
.reservation_button
{   
    background: linear-gradient(to bottom right, #9356DC,#FF79DA);
    height: 50px;
    margin: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 50px;
    font-weight: 700;
    padding-right: 50px;
    padding-left: 50px;
    transform: scale(1);
    transition: transform 400ms;
}
.reservation_button:hover{
    transform:scale(1.15);
}
.reservation_button_restaurant
{
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
	font-weight: 600;
}
.fonctionnement
{
    display: flex;
    flex-direction: wrap;
    text-align: center;
    justify-content: space-around;
    margin-top: 55px;
	padding-top: 20px;


}
.fonctionnement_title
{
    font-size: 27px;
	font-weight: 700;
	position: absolute;
	left: 100px;
	top: 550px;
    font-family: 'Shrikhand', cursive;
    
}
.fonctionnement_all
{
    padding: 10px 0 70px 0;
    
}
.fonctionnement_all_icons:hover{
    background-color:#f0dbff;
}
.fonctionnement_all_icons
{ 
  display: flex;
  margin: auto ;
  white-space: nowrap;
  background-color: #f2f3f4;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 120px 20px 40px;
  border-radius: 20px;
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 8px #0000002E;
}
.fonctionnement_all_icon_icon{
        background: #9356DC;
        height: 20px;
        width: 20px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        margin-left: -50px;
        margin-top: -3px;
}

.fonctionnement_all_icon{
  color:#9356DC ;
  padding-right: 30px;
  font-size: 19px;	
}

.fonctionnement_link
{
    font-family: 'Roboto', sans-serif;
}

.restaurant{
    display: flex;
    margin: auto;
    box-sizing: border-box;;
    
}
.restaurant_all{
    display: flex;
    background-color: #f2f3f4;
    width: auto;
    height: auto;
    white-space: nowrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
    
    }
.restaurant_title{
   font-size: 32px;
   font-weight: 700;
   margin: 15px;
   position: absolute;
   font-family: 'Shrikhand', cursive;
}
.restaurant_articles{
    
    background-color: white;
    box-shadow: 0 0 12px #0000002E;
    border-radius: 20px;;
    cursor: pointer;
    height: 35%;
    width: 40%;
    margin: 60px;
    position: relative;

}
a
{
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
}
.restaurant_figure{
    margin: 0;


}
.restaurant_img{
    width: 537px;
    height: 190px;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    object-fit: cover;
    
}
.restaurant_new{
    position: absolute;
    padding: 7px 17px;
    right: 5px;
    top: 11px;
    background-color: #99E2D0;
    border-radius: 3px;
    color: darkgreen;

}
.restaurant_new_2{
    position: absolute;
    padding: 7px 17px 7px 17px;
    right: 5px;
    top: 17px;
    background-color: #99E2D0;
    border-radius: 3px;
    color: darkgreen;

}
.restaurant_figcaption{
    margin: auto;
    white-space: nowrap;
}
.restaurant_title_title{
    margin: 0 0 0 5px;

}
.restaurant_information{
    margin: 0 0 0 5px;
}
.restaurant_heart,.restaurant_heart_heart{
    position: absolute;
bottom: 5px;
right: 5px;
}
.restaurant_hearts::before{
    
        opacity: 0;
        transition: .5s;
        content: "";
        background: linear-gradient(0deg,#9356dc,#ff79da);
}
.restaurant_heart{
    background-color: white;
    opacity: 1;
    z-index: 1;
}
.restaurant_heart_heart{
    color: #9356dc;
}
.restaurant_heart:hover{
 
 opacity: 0 !important;
 transition-duration: 0.3s;
}
.footer
{
    background: black;
    max-width: 100%;
    margin: auto;
    padding: 20px;
	max-width: 1400px;
}
.footer_link
{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
}
.footer_title
{
    color: white;
    font-family: "Shrikhand", "cursive";
    font-size: 26px;
    margin: 0 0 0 15px;

}
.footer_link_link
{
    display: block;
    color: white;
    font-size: 19px;
    margin: 0 0 0 20px;

}
.footer_icon{
 margin-right: 25px;
 width: 8px;
}

/* menu version desktop  */
.header_title_arrow{
    display:flex;
    justify-content: center;
    align-self: center;
    align-items: center;

    }
.header_arrow{
    position: absolute;
    left: 90px;
    top: 60px;
    font-size: 50px;
}
.background_img{
	margin: 0;
}
.background_img_img{
	max-width: 100%;
    width: 1500px;
    height: 700px;
}
.map{
	background-color: #f2f3f4;
    border-radius: 90px 90px 0 0 ;
	padding-bottom: 50px;
	margin-top: -300px ;
    max-width: 100%;
    position: relative;
}
.map_title_icon{
    display: flex;
    justify-content: space-around;
}
.map_title{
	font-weight: 1200;
	font-size: 48px;
    font-family: "Shrikhand", "cursive";
}
.map_icon{
    padding-top: 40px;

}
.map_main-courses{
	margin: 0 0 0 15px;
    display: flex;
    flex-direction: column;
}
.map_main-course{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    align-self: center;
}
.map_main-courses_title{
	margin-left: 10px; 
}
.map_main-courses_title_title{
    font-size: 23px; 
}
.map_main-course_course{
	background-color: white;
	box-shadow: 0 0 12px #0000002E;
	border-radius: 10px;;
	cursor: pointer;
	height: 80px;
	width: 350px;
    margin: 0 40px 10px 40px;
    overflow: hidden;
    cursor: pointer;
    animation: menu-transition 0.9s;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-fill-mode: both;
    transform:scale(0);
    }
@keyframes menu-transition {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }

.map_main-course_info{
	margin: 15px 0 0 10px;
	padding: 5px 0 0 0;
	font-weight: 900;
	font-size: 19px;
}
.map_main-course_info_info{
	margin: 0px 0 0 10px;

}
.span_class{
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    margin-right: 10px;
    }
.menu{
		background-color: #99e2d0;
       margin: -95px -10px 20px 120px;
width: 90px;
height: 120px;
display: flex;
align-items: center;
justify-content: center;
transition-duration: .5s;

}

.menu_icon{
		height: 25.6px;
		width: 25.6px;
		background-color: white;
		display:flex;
		align-items:center;
		justify-content:center;
		border-radius: 100px;
		transform: rotate(0deg);
		transition-duration: 0.5s;
}
	
    .transition_1{
        animation-delay: 0s;
    }
    .transition_2{
        animation-delay: 0.1s;
    }
    .transition_2{
        animation-delay: 0.2s;
    }
    .transition_3{
        animation-delay: 0.3s;
        }

    .transition_4{
        animation-delay: 0.4s;
        }
    .transition_5{
        animation-delay: 0.5s;
        }
    .transition_6{
         animation-delay: 0.6s;
        }
    .transition_7{
         animation-delay: 0.7s;
        }
    .transition_8{
         animation-delay: 0.8s;
       }
    .transition_9{
        animation-delay: 0.9s;
        }
	.menu_icon_icon{
        color: #99E2D0;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
	}
.order_button{
	background: linear-gradient(to bottom right, #9356DC,#FF79DA);
	height: 40px;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
    font-weight: 600;
	border-radius: 50px;
	width: 240px;
	justify-content: center;
    margin: auto;
    transform: scale(1);
    transition: transform 400ms;
    margin-bottom: 15px;
    margin-top: 15px;
    }

.order_button:hover{
transform:scale(1.15);
}
.order_button_restaurant{
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
	color: white;
}

}