@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/*Version Desktop*/
@media (min-width: 1400px){
 
body, html
{
    font-family: 'Roboto', sans-serif;
    margin: auto;
	max-width: 1400px;
    
}

.header_title
{
 display: flex;
 justify-content: center;
 margin: 0;
 font-family: "Shrikhand", "cursive";
}
.header_title_title
{
 font-weight: 1200;
 font-size: 60px;
 font-style: italic;

}

.localisation
{
 display:flex;
 justify-content: center;
 position: relative;
 background-color: #e5e8e8;
 width: auto;
 padding: 20px 0 20px 0;
 border-top: solid 5px #d6dbdf;
}
.localisation_nav
{
 
 font-size: 20px;
 font-weight: 700;
}
.localisation_icon{

 color: black;
 margin-right: 10px;
}
.information
{
 background-color: #f2f3f4;
 width: auto;
 height: 300px;
 padding-top: 20px;
}
.information_ohmyfood{
    margin: 5px 220px 10px 220px;
	text-align: center;
}
.reservation
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 2px;
    padding: 10px 0 10px 0;
    
}
.reservation_title
{
    font-size: 30px;
    margin: 2px;
    

}
.reservation_title_title
{
    font-weight: normal;
    font-size: 20px;
    padding: 5px;
}
.reservation_button
{   
    background: linear-gradient(to bottom right, #f182f1,#5f0c5f);
    height: 50px;
    margin: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
.reservation_button_restaurant
{
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
	font-weight: 600;
}
.fonctionnement
{
    display: flex;
    flex-direction: wrap;
    text-align: center;
    justify-content: space-around;
    margin-top: 55px;
	padding-top: 20px;


}
.fonctionnement_title
{
    font-size: 27px;
	font-weight: 700;
	position: absolute;
	left: 100px;
	top: 550px;
    
}
.fonctionnement_all
{
    padding: 10px 0 70px 0;
    
}
.fonctionnement_all_icons
{ 
  display: flex;
  margin: auto ;
  white-space: nowrap;
  background-color: #f2f3f4;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 120px 20px 40px;
  border-radius: 20px;
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 15px #0000002E;
}
.fonctionnement_all_icon{
  color:#ab1dab ;
  padding-right: 30px;
  font-size: 19px;	
}

.fonctionnement_link
{
    font-family: "Shrikhand", "cursive";
}

.restaurant{
    display: flex;
    margin: auto;
    box-sizing: border-box;;
    
}
.restaurant_all{
    display: flex;
    background-color: #f2f3f4;
    width: auto;
    height: auto;
    white-space: nowrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
    
    }
.restaurant_title{
   font-size: 32px;
   font-weight: 700;
   margin: 15px;
   position: absolute;
   

}
.restaurant_articles{
    
    background-color: white;
    box-shadow: 0 0 12px #0000002E;
    border-radius: 20px;;
    cursor: pointer;
    height: 35%;
    width: 40%;
    margin: 60px;

}
a
{
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
}
.restaurant_figure{
    margin: 0;


}
.restaurant_img{
    width: 537px;
    height: 190px;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    object-fit: cover;
    
}
.restaurant_new{
    position: absolute;
    padding: 7px 17px;
    left: 520px;
    top: 117%;
    background-color: #99E2D0;
    border-radius: 3px;
    color: darkgreen;

}
.restaurant_new_2{
    position: absolute;
    padding: 7px 17px 7px 17px;
    left: 520px;
    top: 170%;
    background-color: #99E2D0;
    border-radius: 3px;
    color: darkgreen;

}
.restaurant_figcaption{
    margin: auto;
    white-space: nowrap;
}
.restaurant_title_title{
    margin: 0 0 0 5px;

}
.restaurant_information{
    margin: 0 0 0 5px;
}
.restaurant_hearts{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.restaurant_heart{
    font-size: 20px;
    margin: 0 10px 0px 0;
}

.footer
{
    background: black;
    width: 100%;
    margin: auto;
    padding: 20px;
	max-width: 1400px;
}
.footer_link
{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
}
.footer_title
{
    color: white;
    font-family: "Shrikhand", "cursive";
    font-size: 26px;
    margin: 0 0 0 15px;

}
.footer_link_link
{
    display: block;
    color: white;
    font-size: 19px;
    margin: 0 0 0 20px;

}
.footer_icon{
 margin-right: 25px;
 width: 8px;
}

/* menu version desktop  */
.background_img{
	margin: 0;
	

}
.background_img_img{
	box-sizing: border-box;
	object-fit: cover;
	width: 120%;
	height: 10%;
	
}
.map{
	background-color: #f2f3f4;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
    width: 100%;
    
}
.map_title_icon{

}
.map_title{
	margin: auto;
	font-weight: 800;
	font-size: 32px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.map_icon{

}
.map_main-courses{
	margin: 0 0 0 15px;
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}
.map_main-courses_title{
	font-size: 28px;
    position: absolute;
    left: 60px;
    



}
.map_main-course{
	background-color: white;
	box-shadow: 0 0 12px #0000002E;
	border-radius: 20px;;
	cursor: pointer;
	height: 80px;
	width: 370px;
    margin: 20px 30px 40px 10px;
    
}
.map_main-course_info{
	margin: 15px 0 0 10px;
	padding: 5px 0 0 0;
	font-weight: 700;
	font-size: 20px;

}
.map_main-course_info_info{
	margin: 0px 0 0 10px;

}
.order_button{
	background: linear-gradient(to bottom right, #ee58ee,#ab1dab);
	height: 40px;
	margin: auto;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
	border-radius: 50px;
	width: 240px;
	justify-content: center;
}
.order_button_restaurant{
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
	color: white;
}


}