@keyframes loader{
    100% {
        opacity: 0;
        z-index: -10;
    }
}

@keyframes spin {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(60.90px);
    }
    75% {
        transform: translateY(-60.90px);
    }
    100% {
        transform: translateY(0);
}
}


@keyframes menu-transition {
    0% {
      transform: scale(0);
      opacity: (0);
    }
    50%{
        opacity: (0);
    }
    100% {
      transform: scale(1);
      opacity: (1);
    }

 }
