@mixin box-shadow{
    box-shadow: 0 0 12px #0000002E;
}
@mixin border-localisation{
    border-top: solid 5px #d6dbdf;
}

@mixin background-button{
    background: linear-gradient(to bottom right,#FF79DA, #9356DC);
}

@mixin border-fonctionnement_icon{
    border: 1px solid #f6f6f6;
}