@mixin box-shadow{
    box-shadow: 0 0 12px #0000002E;
}
@mixin border-localisation{
    border-top: solid 5px #d6dbdf;
}

@mixin background-order{
    background: linear-gradient(to bottom right, #ee58ee,#ab1dab);
}