$colour-primary: #f2f3f4;
$colour-secondary: #e5e8e8;
$colour-white: white;
$colour-pink: pink;
$colour-buton: #f182f1 #5f0c5f;
$colour-restaurant_background: #99E2D0;
$colour-restaurant_new: darkgreen;

$text_decoration: none;
$cursor: pointer;
$box_sizing: border-box;
$object_fit: cover;

$margin_restaurant: 0 0 0 5px;
