@media (max-width: 480px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    width: auto;
    box-sizing: $box_sizing;
    margin: auto;
    position: relative;

    &_all {
      display: flex;
      flex-direction: column;
      background-color: $colour-background;
      width: 100%;
      margin: auto;
    }

    &_title {
      margin: 5px 0 10px 10px;
      font-size: 25px;
      font-family: "Shrikhand", cursive;
    }
    &_articles {
      display: inline-block;
      background-color: $colour-white;
      align-self: center;
      @include box-shadow;
      border-radius: 20px;
      cursor: $cursor;
      height: 210px;
      width: 300px;
      margin-bottom: 30px;
      position: relative;
    }
    a {
      text-decoration: $text_decoration;
      background-color: transparent;
      cursor: $cursor;
      color: $colour-black;
    }
    &_figure {
      margin: 0;
    }
    &_img {
      width: 300px;
      height: 150px;
      border-radius: 20px 20px 0 0;
      box-sizing: $box_sizing;
      object-fit: $object_fit;
    }
    &_new {
      position: absolute;
      padding: 5px 15px;
      top: 10px;
      right: 47px;
      background-color: $colour-background_restaurant;
      border-radius: 3px;
      color: $colour-restaurant_new;
    }
    &_new_2 {
      position: absolute;
      padding: 5px 15px 5px 15px;
      right: 47px;
      top: 15px;
      background-color: $colour-background_restaurant;
      border-radius: 3px;
      color: $colour-restaurant_new;
    }
    &_figcaption {
      margin: auto;
      white-space: nowrap;
    }
    &_title_title {
      margin: 0 0 0 5px;
    }
    &_information {
      margin: 0 0 0 5px;
    }
    &_hearts {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 20px;
    }
    &_heart {
      font-size: 35px;
      background-color: $colour-white;
      opacity: 1;
      z-index: 1;
    }
    &_heart,
    &_heart_heart {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }

    &_heart_heart {
      background: linear-gradient(0deg, #9356dc, #ff79da);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &_heart:active {
      opacity: 0 !important;
      transition-duration: 0.5s;
      transition-property: background;
    }
    &_heart_heart {
      background-size: 100% 100%;
    }
  }
}

@media (min-width: 1400px) {
  .restaurant {
    display: flex;
    margin: auto;
    box-sizing: $box_sizing;

    &_all {
      display: flex;
      background-color: $colour-background;
      width: auto;
      height: auto;
      white-space: nowrap;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      padding: 30px;
    }
    &_title {
      font-size: 32px;
      font-weight: 700;
      margin: 15px;
      position: absolute;
      font-family: "Shrikhand", cursive;
    }
    &_articles {
      background-color: $colour-white;
      position: relative;
      @include box-shadow;
      border-radius: 20px;
      cursor: $cursor;
      height: 35%;
      width: 40%;
      margin: 60px;
    }
    a {
      text-decoration: $text_decoration;
      background-color: transparent;
      cursor: $cursor;
      color: $colour-black;
    }
    &_figure {
      margin: 0;
    }
    &_img {
      width: 585px;
      height: 190px;
      border-radius: 20px 20px 0 0;
      box-sizing: $box_sizing;
      object-fit: $object_fit;
    }
    &_new {
      position: absolute;
      padding: 7px 17px;
      right: 7px;
      top: 15px;
      background-color: $colour-background_restaurant;
      border-radius: 3px;
      color: $colour-restaurant_new;
    }
    &_new_2 {
      position: absolute;
      padding: 7px 17px 7px 17px;
      right: 5px;
      top: 17px;
      background-color: $colour-background_restaurant;
      border-radius: 3px;
      color: $colour-restaurant_new;
    }
    &_figcaption {
      margin: auto;
      white-space: nowrap;
    }
    &_title_title {
      margin: 0 0 0 5px;
    }
    &_information {
      margin: 0 0 0 5px;
    }
    &_hearts {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 20px;
    }
    &_heart {
      font-size: 35px;
      background-color: $colour-white;
      opacity: 1;
      z-index: 1;
    }
    &_heart,
    &_heart_heart {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }

    &_heart_heart {
      background: linear-gradient(0deg, #9356dc, #ff79da);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 100% 100%;
    }
    &_heart:hover {
      opacity: 0 !important;
      transition-duration: 0.5s;
      transition-property: background;
    }
   
  }
}

@media (min-width: 481px) and (max-width: 768px){

  .restaurant {
    display: flex;
    flex-direction: column;
    width: auto;
    box-sizing: $box_sizing;
    margin: auto;
    position: relative;

    &_all {
      display: flex;
      flex-direction: column;
      background-color: $colour-background;
      width: 100%;
      margin: auto;
    }

    &_title {
      margin: 5px 0 10px 10px;
      font-size: 25px;
      font-family: "Shrikhand", cursive;
    }
    &_articles {
      display: inline-block;
      background-color: $colour-white;
      align-self: center;
      @include box-shadow;
      border-radius: 20px;
      cursor: $cursor;
      height: 240px;
      width: 590px;
      margin-bottom: 30px;
      position: relative;
    }
    a {
      text-decoration: $text_decoration;
      background-color: transparent;
      cursor: $cursor;
      color: $colour-black;
    }
    &_figure {
      margin: 0;
    }
    &_img {
      width: 590px;
      height: 150px;
      border-radius: 20px 20px 0 0;
      box-sizing: $box_sizing;
      object-fit: $object_fit;
    }
    &_new {
      position: absolute;
      padding: 5px 15px;
      top: 10px;
      right: 47px;
      background-color: $colour-background_restaurant;
      border-radius: 3px;
      color: $colour-restaurant_new;
    }
    &_new_2 {
      position: absolute;
      padding: 5px 15px 5px 15px;
      right: 47px;
      top: 15px;
      background-color: $colour-background_restaurant;
      border-radius: 3px;
      color: $colour-restaurant_new;
    }
    &_figcaption {
      margin: auto;
      white-space: nowrap;
    }
    &_title_title {
      margin: 0 0 0 5px;
    }
    &_information {
      margin: 0 0 0 5px;
    }
    &_hearts {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 20px;
    }
    &_heart {
      font-size: 35px;
      background-color: $colour-white;
      opacity: 1;
      z-index: 1;
    }
    &_heart,
    &_heart_heart {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }

    &_heart_heart {
      background: linear-gradient(0deg, #9356dc, #ff79da);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &_heart:hover {
      opacity: 0 !important;
      transition-duration: 0.5s;
      transition-property: background;
    }
    &_heart_heart {
      background-size: 100% 100%;
    }
  }
}
