.reservation_button
	{   
		background: linear-gradient(to bottom right,  #f182f1,#5f0c5f);
		height: 50px;
		margin: auto;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: white;
		border-radius: 50px;
		padding-right: 20px;
        padding-left: 20px;
		font-weight: 600;
	}
	.reservation_button_restaurant
	{
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        color: white;
	}

    .order_button{
		background: linear-gradient(to bottom right, #ee58ee,#ab1dab);
		height: 40px;
		margin: 45px 0 0px 90px;
		display: flex;
		align-items: center;
		text-align: center;
		color: white;
		border-radius: 50px;
		width: 140px;
		justify-content: center;
	}
	.order_button_restaurant{
		text-decoration: none;
        background-color: transparent;
        cursor: pointer;
		color: white;
	}
