@media (max-width: 480px){
	.header_title
	{
	 display: flex;
	 justify-content: center;
	 margin: 0;
	 font-family: "Shrikhand", "cursive";
	}
	.header_title_title
	{
	 font-weight: 1200;
	 font-size: 40px;
	 font-style: italic;
	
	}
}

@media (min-width: 1400px){
	.header_title
{
 display: flex;
 justify-content: center;
 margin: 0;
 font-family: "Shrikhand", "cursive";
}
.header_title_title
{
 font-weight: 1200;
 font-size: 60px;
 font-style: italic;

}
}

