
@media (max-width: 480px){
	.localisation
	{
	 display:flex;
	 justify-content: center;
	 position: relative;
	 background-color: $colour-background_secondary;
	 width: auto;
	 padding: 20px 0 20px 0;
	 @include border-localisation;
	
	 &_nav
	{
	 
	 font-size: 20px;
	 font-weight: 700;
	}
	 &_icon{

	 color: $colour-black;
	 margin-right: 10px;
	  }
	}
	.information
	{
	 background-color: $colour-background;
	 width: auto;
	 height: 300px;
     padding-top: 20px;
     padding-bottom: 80px;
	
      &_ohmyfood{
        margin: 5px 0 10px 10px;
      }

	}
	.reservation
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		margin: 2px;
		padding: 10px 0 10px 0;
		
	}
	 &_title
	{
		font-size: 30px;
		margin: 2px;
		font-family: 'Shrikhand', cursive;
		
	
	 &_title_title
	{
		font-weight: normal;
		font-size: 20px;
		padding: 5px;
	  }

	}
}

@media (min-width: 1400px){

	.localisation
	{
	 display:flex;
	 justify-content: center;
	 position: relative;
	 background-color: $colour-background_secondary;
	 width: auto;
	 padding: 20px 0 20px 0;
	 @include border-localisation;
	
	  &_nav
	{
	 
	 font-size: 20px;
	 font-weight: 700;
	}
	  &_icon{
	
	 color: $colour-black;
	 margin-right: 10px;
	 }

	}
	.information
	{
	 background-color: $colour-background;
	 width: auto;
	 height: 300px;
	 padding-top: 20px;
	
	 &_ohmyfood{
		margin: 5px 220px 10px 220px;
		text-align: center;
	 }

	}
	.reservation
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		margin: 2px;
		padding: 10px 0 10px 0;
		
	 &_title
	{
		font-size: 30px;
		margin: 2px;
		font-family: 'Shrikhand', cursive;
	}
	 &_title_title
	{
		font-weight: normal;
		font-size: 20px;
		padding: 5px;
	 }

	}
     
}